
body{
     font-family:Arial;
}
 .todo-grid,
 .todo-input-grid{
        display:grid;
        grid-template-columns:200px 150px 100px;
        column-gap:10px;
        row-gap:10px;
        align-items:center;
 }

.todo-input-grid{
        margin-bottom:10px;
        align-items:stretch;
}


.input-value,
.input-duedate{
     font-size:15px;
     padding:10px;
}

.todo-add-button{
      font-size:15px;
      background-color:green;
      border:none;
      color:white;
      cursor:pointer;
      padding:10px;
}

.todo-delete-button{
      font-size:15px;
      background-color:red;
      border:none;
      color:white;
      cursor:pointer;
      padding:10px;
}
